# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db

# Virtual environment
venv/
.env

# IDEs
.idea/
*.sublime-project
*.sublime-workspace
*.vscode/

# Logs
*.log

# Miscellaneous
*.DS_Store
*.egg-info/
*.egg